In [31]:
import pandas as pd
import numpy as np
import re
# chargement et affichage des données
data = pd.read_csv('personnes.csv')
print(data)

   prenom                                   email date_naissance  \
0   Leila                       leila@example.com     23/01/1990
1  Samuel                  samuel_329@example.com     20/09/2001
2   Radia                choupipoune@supermail.eu  12 sept. 1984
3    Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4    Heri                 helloworld@supermail.eu     05/03/2008
5   Hanna                  hanna2019@supermail.eu     01/01/1970
6  samuël                  samuel_329@example.com            NaN

            pays taille
0         France  1.49m
1            NaN  1.67m
2  Côte d'ivoire  153cm
3         France  1.65m
4     Madagascar  1.34m
5             24  3.45m
6          Bénin  1.45m

In [2]:
print(data.isnull().sum())

prenom            0
email             0
date_naissance    1
pays              1
taille            0
dtype: int64

In [18]:
data.loc[data['pays'].duplicated(keep=False),:]

  prenom                                   email date_naissance    pays taille
0  Leila                       leila@example.com     23/01/1990  France  1.49m
3   Marc  marco23@example.com, mc23@supermail.eu     10/02/1978  France  1.65m

In [22]:
data.groupby('email').filter(lambda x: len(x) > 1)

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

In [24]:
data.drop_duplicates(keep=False)

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m
5,Hanna,hanna2019@supermail.eu,01/01/1970,24,3.45m
6,samuël,samuel_329@example.com,NaN,Bénin,1.45m

In [25]:
mask = data['email'].duplicated(keep=False)

In [32]:
VALID_COUNTRIES = ['France', 'Côte d\'ivoire', 'Madagascar','Bénin', 'Allemagne', 'USA']
mask = ~data['pays'].isin(VALID_COUNTRIES)
data.loc[mask, 'pays'] = np.NaN

In [36]:
print(data)

   prenom                     email date_naissance           pays taille
0   Leila         leila@example.com     23/01/1990         France  1.49m
1  Samuel    samuel_329@example.com     20/09/2001            NaN  1.67m
2   Radia  choupipoune@supermail.eu  12 sept. 1984  Côte d'ivoire  153cm
3    Marc       marco23@example.com     10/02/1978         France  1.65m
4    Heri   helloworld@supermail.eu     05/03/2008     Madagascar  1.34m
5   Hanna    hanna2019@supermail.eu     01/01/1970            NaN  3.45m
6  samuël    samuel_329@example.com            NaN          Bénin  1.45m

In [35]:
data['email'] = data['email'].str.split(',', n=1, expand=True)[0]

In [37]:
data['taille'] = data['taille'].str[:-1]

In [38]:
data['taille'] = pd.to_numeric(data['taille'], errors='coerce')

In [39]:
print(data)

   prenom                     email date_naissance           pays  taille
0   Leila         leila@example.com     23/01/1990         France    1.49
1  Samuel    samuel_329@example.com     20/09/2001            NaN    1.67
2   Radia  choupipoune@supermail.eu  12 sept. 1984  Côte d'ivoire     NaN
3    Marc       marco23@example.com     10/02/1978         France    1.65
4    Heri   helloworld@supermail.eu     05/03/2008     Madagascar    1.34
5   Hanna    hanna2019@supermail.eu     01/01/1970            NaN    3.45
6  samuël    samuel_329@example.com            NaN          Bénin    1.45